{% extends 'blog/base.html' %}
{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-12">
                <h2>Wprowadzenie</h2>
                <p>
                    Na tej stronie tesowane są różne układy siatki Bootstrap i ich zachowanie wraz ze zmianą wielkości
                    ekranu.
                </p>
            </div>



            <div class="col-sm-6">
                <h4>Blok 1</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aspernatur assumenda blanditiis dolores ex maxime officiis. Ad delectus dicta dolorum et incidunt ipsam, perferendis saepe. Mollitia necessitatibus omnis quibusdam repudiandae?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur et impedit, ipsum maxime natus omnis praesentium quae quasi quia rerum.
                    Lorem ipsum dolor sit amet.</p>
            </div>

            <div class="col-sm-6">
                <h4>Blok 2</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aspernatur assumenda blanditiis dolores ex maxime officiis. Ad delectus dicta dolorum et incidunt ipsam, perferendis saepe. Mollitia necessitatibus omnis quibusdam repudiandae?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur et impedit, ipsum maxime natus omnis praesentium quae quasi quia rerum.
                    Lorem ipsum dolor sit amet.</p>
            </div>

            <div class="col-sm-6 col-lg-4">
                <h4>Blok 3</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aspernatur assumenda blanditiis dolores ex maxime officiis. Ad delectus dicta dolorum et incidunt ipsam, perferendis saepe. Mollitia necessitatibus omnis quibusdam repudiandae?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur et impedit, ipsum maxime natus omnis praesentium quae quasi quia rerum.
                    Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="col-sm-6 col-lg-4">
                <h4>Blok 4</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aspernatur assumenda blanditiis dolores ex maxime officiis. Ad delectus dicta dolorum et incidunt ipsam, perferendis saepe. Mollitia necessitatibus omnis quibusdam repudiandae?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur et impedit, ipsum maxime natus omnis praesentium quae quasi quia rerum.
                    Lorem ipsum dolor sit amet.</p>
            </div>

            <div class="col-sm-6 col-lg-4">
                <h4>Blok 5</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aspernatur assumenda blanditiis dolores ex maxime officiis. Ad delectus dicta dolorum et incidunt ipsam, perferendis saepe. Mollitia necessitatibus omnis quibusdam repudiandae?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur et impedit, ipsum maxime natus omnis praesentium quae quasi quia rerum.
                    Lorem ipsum dolor sit amet.</p>
            </div>

            <div class="col-sm-6 col-lg-4">
                <h4>Blok 6</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aspernatur assumenda blanditiis dolores ex maxime officiis. Ad delectus dicta dolorum et incidunt ipsam, perferendis saepe. Mollitia necessitatibus omnis quibusdam repudiandae?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur et impedit, ipsum maxime natus omnis praesentium quae quasi quia rerum.
                    Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="col-sm-6 col-lg-4">
                <h4>Blok 7</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aspernatur assumenda blanditiis dolores ex maxime officiis. Ad delectus dicta dolorum et incidunt ipsam, perferendis saepe. Mollitia necessitatibus omnis quibusdam repudiandae?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur et impedit, ipsum maxime natus omnis praesentium quae quasi quia rerum.
                    Lorem ipsum dolor sit amet.</p>
            </div>

            <div class="col-sm-6 col-lg-4">
                <h4>Blok 8</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aspernatur assumenda blanditiis dolores ex maxime officiis. Ad delectus dicta dolorum et incidunt ipsam, perferendis saepe. Mollitia necessitatibus omnis quibusdam repudiandae?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur et impedit, ipsum maxime natus omnis praesentium quae quasi quia rerum.
                    Lorem ipsum dolor sit amet.</p>
            </div>

            <div class="col-sm-6 col-lg-3">
                <h4>Blok 9</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aspernatur assumenda blanditiis dolores ex maxime officiis. Ad delectus dicta dolorum et incidunt ipsam, perferendis saepe. Mollitia necessitatibus omnis quibusdam repudiandae?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur et impedit, ipsum maxime natus omnis praesentium quae quasi quia rerum.
                    Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h4>Blok 10</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aspernatur assumenda blanditiis dolores ex maxime officiis. Ad delectus dicta dolorum et incidunt ipsam, perferendis saepe. Mollitia necessitatibus omnis quibusdam repudiandae?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur et impedit, ipsum maxime natus omnis praesentium quae quasi quia rerum.
                    Lorem ipsum dolor sit amet.</p>
            </div>

            <div class="col-sm-6 col-lg-3">
                <h4>Blok 11</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aspernatur assumenda blanditiis dolores ex maxime officiis. Ad delectus dicta dolorum et incidunt ipsam, perferendis saepe. Mollitia necessitatibus omnis quibusdam repudiandae?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur et impedit, ipsum maxime natus omnis praesentium quae quasi quia rerum.
                    Lorem ipsum dolor sit amet.</p>
            </div>

            <div class="col-sm-6 col-lg-3">
                <h4>Blok 12</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aspernatur assumenda blanditiis dolores ex maxime officiis. Ad delectus dicta dolorum et incidunt ipsam, perferendis saepe. Mollitia necessitatibus omnis quibusdam repudiandae?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur et impedit, ipsum maxime natus omnis praesentium quae quasi quia rerum.
                    Lorem ipsum dolor sit amet.</p>
            </div>

        </div>
    </div>

{% endblock %}
