<!DOCTYPE html>
{% extends 'blog/base.html' %}

{% block content %}

    <h2>Od autora</h2>
    <p>Na niniejszej stronie przeprowadzane są testy funkcjonalności różnych elementów programowania.
        Językiem backend-owym jest Python. Do budowy portalu został wykorzystany framework Django.
        Z tego powodu jako serwer testowy wybrany został darmowy hosting na <a href="https://pythonanywhere.com">
        pythonanywhere.com</a>. Responsywność z kolei zapewnia framework Bootstrap w wersji 5.
        Języki frontend to HTML5, CSS i JavaScript. Całość wykorzystywanego kodu dostępna jest publicznie na
        GitHub: <a href="https://github.com/DB-Byd/Django">https://github.com/DB-Byd/Django</a>. Wszelkie konstruktywne
        uwagi lub pytania są mile widziane. :)
    </p>

{% endblock %}
