<!DOCTYPE html>

{% extends 'blog/base.html' %}

{% block content %}

    <div>
        <h2><a href="">Od autora</a></h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aspernatur assumenda blanditiis dolores ex maxime officiis. Ad delectus dicta dolorum et incidunt ipsam, perferendis saepe. Mollitia necessitatibus omnis quibusdam repudiandae?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur et impedit, ipsum maxime natus omnis praesentium quae quasi quia rerum.</p>
        <p>Lorem ipsum dolor sit amet.</p>
    </div>

    {% for post in posts %}
        <div class="post">
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <div class="date">
                <p>published: {{ post.published_date }}</p>
            </div>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}

{% endblock %}
