<!DOCTYPE html>

{% extends 'blog/base.html' %}

{% block content %}

    <div>
        <h2><a href="">Wprowadzenie</a></h2>
        <p>
            Niniejszy przykład blogu zbudowany został w oparciu o tutorial
            <a href="https://tutorial.djangogirls.org/pl/">Django Girls</a>. To stąd wziął się pomysł publikowania kodu
            na GitHub-ie i umieszczania rezultatów pracy na <a href="https://pythonanywhere.com">pythonanywhere.com</a>.
            Na marginesie - teraz wydaje się to oczywiste, ale wcześniej jakoś na to nie wpadłem, albo przynajmniej
            nie doceniałem wystarczająco tych narzędzi. Zatem dzięki Django Girls!
        </p>
        <p>
            Jak zostało zdradzone na wstępie, do budowy portalu wykorzystwany jest framework Django. W związku z tym
            treść postów przechowywana jest w bazie danych (aktualnie SQlite), a elementy wyświetlane na stronie
            generowane są dynamicznie. Posty można wpisywać poprzez panel administracyjny, albo formularz dostępny
            dla zalogowanych użytkowników. W tym momencie nie ma jednak możliwości zarejestrowania się
            i testowania tej funkcjonalności - póki co tym przywilejem dysponuje wyłącznie admin. Być może w przyszłości,
            w ramach testowania nowych funkcjonalności, szkielet blogu zostanie rozbudowany.
        </p>
        <br>
    </div>

    {% for post in posts %}
        <div class="post">
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <div class="date">
                <p>published: {{ post.published_date }}</p>
            </div>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}

{% endblock %}
